---
import { EXPERIENCES } from '../consts/experiences'

const experience = EXPERIENCES
---

<ol>
  {
    experience.map(({ company, position, location, dates, description }) => (
      <li class="relative top-0 grid gap-4 pr-8 pb-8 pl-10 md:grid-cols-5 md:pb-16">
        <span class="absolute left-3 h-full border-l-2 border-gray-400" />
        <span class="absolute top-0 left-[9px] size-2 rounded-full bg-gray-400 text-center text-4xl" />
        <div class="col-span-2">
          <h3 class="text-xl font-semibold">{position}</h3>
          <h4 class="font-semibold">{company}</h4>
          <p class="text-sm text-gray-400">{dates}</p>
          <p class="text-sm text-gray-400">{location}</p>
        </div>
        <div class="text-gray-400 md:col-span-3">{description}</div>
      </li>
    ))
  }
</ol>
